.home-page {
    color: #0060ACFF;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 80%;
}

.home-banner {
    height: 150px;
    font-size: x-large;
}

.home-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: auto;
}

.button {
    padding: 10px;
    margin: 15px;
    border: 3px solid;
    border-radius: 25px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 96, 172, 0.32);
    box-shadow: 3px 3px 0px 0px rgba(0, 96, 172, 0.32);
}

.button:hover {
    cursor: pointer;
    background: rgb(224, 224, 224);
}

.button:active {
    margin-top: 18px;
    margin-left: 18px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.home-option-top {
    margin-top: 0;
}

.home-option-bottom {
    margin-top: 100px;
}

@media only screen and (max-width: 1200px) {
    .home-page {
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .home-body {
        display: flex;
        flex-direction: column;
    }

    .home-banner {
        height: 50px;
        font-size: large;
    }

    .home-option-top, .home-option-bottom {
        margin-top: 0;
        margin-left: 5%;
        margin-right: 5%;
    }
}