.quiz-page {
    width: 60%;
    margin: auto;
    background-color: #a4a4a4;
    padding: 20px;
}

.number-container {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5px;
}

.statistics-container {
    display: flex;
    margin: 30px auto 0 auto;
    color: white;
}

.number-container > p {
    font-weight: bolder;
}

.wrong-answers > .number-container {
    border: red solid 5px;
    color: black;

}

.correct-answers > .number-container {
    border: green solid 5px;
    color: black;
}

.wrong-answers, .correct-answers, .questions-left {
    display: flex;
    align-items: center;
    margin: auto;
}

.questions-left > .number-container {
    border: #02579c solid 5px;
    background-color: #02579c;
    color: white;
}