.quiz-page {
    color: #0060ac;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 80%;
}

.quiz-page-start-button, .test-reset-button {
    height: 85px;
    color: #0060ac;
    width: 200px;
    font-size: xx-large;
    font-weight: bold;
    border: 2px solid #0060ac;
    border-radius: 10px;
    background: white;
    margin: 0 0 20px 0;
    box-shadow: 3px 3px 6px rgba(0, 96, 172, 0.32);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.quiz-page-start-button:hover, .test-reset-button:hover {
    background: rgb(224, 224, 224);
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px rgba(0, 96, 172, 0.5);
}

.quiz-page-start-button:active, .test-reset-button:active {
    transform: scale(0.95);
    box-shadow: none;
}

.test-reset-button-container {
    margin-top: 20px;
}

@media only screen and (max-width: 700px) {
    .quiz-page {
        padding: 0;
        width: 100%;
    }
}
