/** {*/
/*    border: 1px dashed;*/
/*}*/

.signs-page {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 80%;
    align-items: center;
}

.categories-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 20px auto auto auto;
}

.grid-item {
    display: table-cell;
    margin: 0 auto 20px;
}

@media only screen and (max-width: 1150px) {
    .categories-grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (max-width: 750px) {
    .categories-grid {
        grid-template-columns: 1fr;
    }
}