* {
    /*border: dashed 1px;*/
}

.back-button-container {
    width: 310px;
    margin: 0;
}

.back-button-wrapper {
    width: 150px;
    height: 48px;
    background-image: url("../../assets/back-button.png");
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.32);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.32);
}

.back-button-wrapper:hover {
    cursor: pointer;
}

.back-button-wrapper:active {
    margin: 3px auto auto 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.back-button-text {
    margin: 0;
    position: relative;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 850px) {
    .back-button-container {
        margin: auto;
    }

    .back-button-wrapper {
        margin: auto;
    }

    .back-button-wrapper:active {
        margin: auto;
        -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.32);
        box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.32);
    }
}