.banner {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.banner-title {
    width: fit-content;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

}