.banner {
    color: #0060ACFF;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    height: 48px;
}

.banner-title {
    margin: auto;
    width: fit-content;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2.5em;
}


@media only screen and (max-width: 850px) {
    .banner {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    .banner-title {
        margin: auto;
        margin-bottom: 0;
        width: fit-content;
        position: relative;
        left: 0;
        -ms-transform: none;
        transform: none;
        font-size: 2.5em;
    }
}