.banner {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    height: 48px;
}

.banner-title {
    margin: auto;
    width: fit-content;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2.5em;
}