.zone-card-container {
    width: 300px;
    height: 350px;
    padding: 0;
    display: flex;
}

.zone-card {
    background-color: #0060ACFF;
    background: radial-gradient(circle, rgb(0, 96, 172) 42%, rgba(7,87,153,1) 100%);
    padding: 5%;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 96, 172, 0.32);
    box-shadow: 5px 5px 0px 0px rgba(0, 96, 172, 0.32);
}

.zone-card:hover {
    cursor: pointer;
}

.zone-card:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 5px;
    margin-left: 5px;
}

.zone-card-image-container {
    margin: auto;
}

.zone-card-image {
    object-fit: fill;
}

.zone-card-title {
    color: white;
}